<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("DeleteAuthor", "DeleteAuthor", "BookManagement")</li>
                    <li>@Html.ActionLink("Index", "Index", "Admin")</li>
                    <li>@Html.ActionLink("General", "General", "Admin")</li>
                    <li>@Html.ActionLink("Index", "Index", "BookManagement")</li>
                    <li>@Html.ActionLink("Index", "Index", "CategoryManagement")</li>
                    <li>@Html.ActionLink("Index", "Index", "BookAuthorManagement")</li>
                    <li>@Html.ActionLink("Index", "Index", "PublishingHouseManagement")</li>
                    <li>@Html.ActionLink("Index", "Index", "ImageManagement")</li>
                    <li>@Html.ActionLink("Index", "Index", "BookStateManagement")</li>
                    <li>@Html.ActionLink("Users", "Users", "RoleManagement")</li>
                    <li>@Html.ActionLink("Roles", "Roles", "RoleManagement")</li>
                    <li>@Html.ActionLink("Create", "Create", "BookAuthorManagement")</li>
                    <li>@Html.ActionLink("Create", "Create", "BookManagement")</li>
                    <li>@Html.ActionLink("Create", "Create", "BookStateManagement")</li>
                    <li>@Html.ActionLink("Create", "Create", "CategoryManagement")</li>
                    <li>@Html.ActionLink("Create", "Create", "PublishingHouseManagement")</li>
                    <li>@Html.ActionLink("Register", "Register", "Account")</li>
                    <li>@Html.ActionLink("Login", "Login", "Account")</li>
                    <li>@Html.ActionLink("WatchOnline", "WatchOnline", "Book")</li>
                    <li>@Html.ActionLink("ShareWithFacebook", "ShareWithFacebook", "Book")</li>
                    <li>@Html.ActionLink("Detail", "Detail", "Book")</li>
                    <li>@Html.ActionLink("BooksByView", "BooksByView", "Book")</li>
                    <li>@Html.ActionLink("Details", "Details", "Book")</li>
                    <li>@Html.ActionLink("ListByCategory", "ListByCategory", "Book")</li>
                    <li>@Html.ActionLink("Order", "Order", "Cart")</li>
                    <li>@Html.ActionLink("Index", "Index", "Home")</li>
                    <li>@Html.ActionLink("MainPage", "MainPage", "Home")</li>
                    <li>@Html.ActionLink("GetBooks", "GetBooks", "Book")</li>
                    <li>@Html.ActionLink("GetMyBooks", "GetMyBooks", "Book")</li>
                    <li>@Html.ActionLink("Index", "Index", "Cart")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Login", "Login", "Home")</li>
                    <li>@Html.ActionLink("Register", "Register", "Home")</li>
                    <li>@Html.ActionLink("ForgotPassword", "ForgotPassword", "Home")</li>
                    <li>@Html.ActionLink("404", "404", "Home")</li>
                    <li>@Html.ActionLink("Blank", "Blank", "Home")</li>
                    <li>@Html.ActionLink("PrivacyPolicy", "PrivacyPolicy", "Home")</li>
                    <li>@Html.ActionLink("Faq", "Faq", "Home")</li>
                    <li>@Html.ActionLink("Shop", "Shop", "Home")</li>
                    <li>@Html.ActionLink("Products", "Products", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
